# COVID-19 notes on population numbers, recoveries and other phenomenon from MaxCor Labs (coder= Dr. Candace Moore, MD)

## What population numbers is the Ministry of Health using?

In [1]:
# libraries
import makedalytics as ma
ma.remind_ds_libraries()

Basics:
 import pandas as pd
 import numpy as np
 import matplotlib
 import matplotlib.pyplot as plt

Visualization:
 from IPython.display import Markdown, display
 from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
 import plotly.graph_objs as go
 import seaborn as sns
NLP: import re
 import nltk
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk import wordpunct_tokenize
 from nltk.corpus import stopwords
 from nltk.tokenize import sent_tokenize, word_tokenize
 from collections import Counter
Stats:
 import scipy
 from scipy import stats as st

In [2]:
 import pandas as pd
 import numpy as np
 import matplotlib 
 import matplotlib.pyplot as plt

We can make the total patients vaccinated by age.

In [3]:
vaxed = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/vaccinated_per_day_2021_07_03.csv')

In [4]:
vaxed = vaxed[0:1726]
vaxed_for_pop = vaxed[0:1717]
vaxed.tail(30)

     VaccinationDate age_group first_dose second_dose
1696      2021-06-27       90+        <15         <15
1697      2021-06-27     20-29        805         281
1698      2021-06-27     50-59        283         133
1699      2021-06-28     70-79         69          46
1700      2021-06-28       90+        <15         <15
1701      2021-06-28     40-49        479         158
1702      2021-06-28     30-39        626         242
1703      2021-06-28     50-59        320         102
1704      2021-06-28     60-69        171          69
1705      2021-06-28     80-89         39          22
1706      2021-06-28      0-19      11733        2522
1707      2021-06-28     20-29        871         303
1708      2021-06-29     50-59        376         123
1709      2021-06-29     20-29        949         236
1710      2021-06-29     80-89         49          22
1711      2021-06-29     30-39        752         262
1712      2021-06-29       90+        <15         <15
1713      2021-06-29     60-69        200          77
1714      2021-06-29     70-79         99          50
1715      2021-06-29     40-49        537         169
1716      2021-06-29      0-19      13486        2555
1717      2021-06-30     40-49        563         159
1718      2021-06-30     70-79        107          40
1719      2021-06-30     60-69        207          76
1720      2021-06-30     30-39        782         223
1721      2021-06-30     20-29        882         246
1722      2021-06-30      0-19      13303        2279
1723      2021-06-30     50-59        349         130
1724      2021-06-30       90+        <15         <15
1725      2021-06-30     80-89         63          25

In [5]:
vaxed.first_dose[vaxed.first_dose =='<15'] = 0
vaxed.first_dose = pd.to_numeric(vaxed.first_dose)
vaxed.second_dose[vaxed.second_dose =='<15'] = 0
vaxed.second_dose = pd.to_numeric(vaxed.second_dose)

C:\Users\makeda\AppData\Local\Temp/ipykernel_20920/3814212057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vaxed.second_dose[vaxed.second_dose =='<15'] = 0

In [6]:
vaxed_for_pop.first_dose[vaxed_for_pop.first_dose =='<15'] = 0
vaxed_for_pop.first_dose = pd.to_numeric(vaxed_for_pop.first_dose)
vaxed_for_pop.second_dose[vaxed_for_pop.second_dose =='<15'] = 0
vaxed_for_pop.second_dose = pd.to_numeric(vaxed_for_pop.second_dose)

D:\bin\anaconda3\envs\jupyter_environment\lib\site-packages\pandas\core\generic.py:8861: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
D:\bin\anaconda3\envs\jupyter_environment\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)
C:\Users\makeda\AppData\Local\Temp/ipykernel_20920/1521600179.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vaxed_for_pop.second_dose[vaxed_for_pop.second_dose =='<15'] = 0

In [7]:
# this was the file downloaded on 6/29, so we must match to the vaccinations current on 6/29
percent_vaxed_from_moh = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/vaccinated_percent_total_age.csv')

In [8]:
percent_vaxed_from_moh

  ????? ???  % ??????? ??? ??????  % ??????? ??? ?????
0     10-19                  31.2                 23.5
1     20-29                  77.7                 71.5
2     30-39                  82.2                 77.0
3     40-49                  85.5                 80.6
4     50-59                  89.0                 84.1
5     60-69                  90.4                 86.7
6     70-79                  95.1                 92.6
7     80-89                  93.6                 91.0
8       90+                  92.9                 89.5

In [9]:
percent_vaxed_from_moh = percent_vaxed_from_moh.rename(columns ={'????? ???':'age_group','% ??????? ??? ??????':'second_vax_per','% ??????? ??? ?????':'first_vax_per'})

In [10]:
percent_vaxed_from_moh

  age_group  second_vax_per  first_vax_per
0     10-19            31.2           23.5
1     20-29            77.7           71.5
2     30-39            82.2           77.0
3     40-49            85.5           80.6
4     50-59            89.0           84.1
5     60-69            90.4           86.7
6     70-79            95.1           92.6
7     80-89            93.6           91.0
8       90+            92.9           89.5

# Super important note: at present some MOH publicly available data lumps 0-19 year olds, but the publicly available dashboard data only has 10-19, and no data in the youngest people (aged 0-9). We will have to just ignore this group until an update

In [11]:
# we will look at second vaccinations, and we do not know if this includes recovered + 1 vax or not yet
#vaxed.second_dose[vaxed.age_group == '20-29'].sum()

In [12]:
# now we take the percentage from the MOH data we are told each number represents
# so we assume the 933300 2X vaccinated represents 77.7% of the population of all of them. 
# therefore the popuation of all of them is

all_20_29 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '20-29'].sum())/0.777
all_30_39 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '30-39'].sum())/0.822
all_40_49 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '40-49'].sum())/0.855
all_50_59 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '50-59'].sum())/0.890
all_60_69 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '60-69'].sum())/0.904

all_70_79 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '70-79'].sum())/0.952
all_80_89 =  (vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '80-89'].sum())/0.936
all_90_plus =(vaxed_for_pop.second_dose[vaxed_for_pop.age_group == '90+'].sum())/0.929

In [13]:
print("Starting at 20-29, ascending our population numbers are :\n")
list_for_dataframe = [all_20_29 ,
all_30_39 ,
all_40_49 ,
all_50_59 ,
all_60_69 ,

all_70_79 ,
all_80_89 ,
all_90_plus]
listed_ages = ['20-29','30-39','40-49','50-59','60-69','70-79','80-89','90+']
new_dataframe = pd.DataFrame({
    'number_MOH_total_pop':[int(n) for n in list_for_dataframe],
    'age_group':listed_ages,
})
# print(
# all_20_29 ,
# all_30_39 ,
# all_40_49 ,
# all_50_59 ,
# all_60_69 ,

# all_70_79 ,
# all_80_89 ,
# all_90_plus ,
# sep = '\n' )
new_dataframe

Starting at 20-29, ascending our population numbers are :

   number_MOH_total_pop age_group
0               1197064     20-29
1               1121810     30-39
2               1035506     40-49
3                803504     50-59
4                711089     60-69
5                477368     70-79
6                219172     80-89
7                 49298       90+

In [14]:
# we can check to see if we get close to 9 million but give or take the poppulation under 19?, which is huge
new_dataframe.to_csv('MOH_underly_assumed_populations.csv')

# So we can reverse engineer the numbers with the following caveats
1. the days when less than 15 were recorded as >15, have been estimated down to zero. This will give a slight undercount of vacciantions
2. We can not tell how many are from zero to 19, because in one csv they are lumped, and the other they are split into 0 to 9 and 10 to 19
3. we assume recovered people were disincluded

In [15]:
#### A closer look at recoveries

In [16]:
def aggregated_covid_recovery_transposed():
    all_recovered = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/corona_recovered_ver_00143.csv')
    daily_recovered = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/recovered_daily.csv')
    daily_recovered.columns.values[:] = 'date', 'recovered'
    daily_recovered.dropna(inplace=True)
    daily_recovered['recovered'] = daily_recovered['recovered'].astype('int32')
    all_recovered['date'] = ''
    recoverd_so_far = 0
    for i, row in daily_recovered.iterrows():
        rec = row['recovered']
        date = row['date']
        for i in range(rec):
            all_recovered.at[recoverd_so_far + i, 'date'] = date
        recoverd_so_far += rec
    all_recovered = all_recovered[all_recovered['date'] != '']
    all_recovered.drop(
        set(all_recovered.columns) - {'date', 'age_group'},
        axis=1,
        inplace=True,
    )
    age_groups = list(all_recovered['age_group'].unique())
    return all_recovered.groupby(
        ['date', 'age_group'],
    ).agg(count=('age_group', 'count')).reset_index()

In [17]:
try_again = aggregated_covid_recovery_transposed()

In [18]:
try_again = try_again.sort_values(by = 'date', ascending = False)
try_again = try_again.reset_index()
try_again['count'].max()

4684

In [19]:
try_again.to_csv('try1_daily_recovered_by_age.csv')

In [20]:
try_again.loc[try_again['count'] == try_again['count'].max()]

      index        date age_group  count
1782   1315  14-01-2021      0-19   4684

In [21]:
vaxed

     VaccinationDate age_group  first_dose  second_dose
0         2020-12-20     20-29         392            0
1         2020-12-20     80-89          93            0
2         2020-12-20      0-19          21            0
3         2020-12-20     60-69        1516            0
4         2020-12-20     50-59        1785            0
...              ...       ...         ...          ...
1721      2021-06-30     20-29         882          246
1722      2021-06-30      0-19       13303         2279
1723      2021-06-30     50-59         349          130
1724      2021-06-30       90+           0            0
1725      2021-06-30     80-89          63           25

[1726 rows x 4 columns]

In [22]:
all_recovered = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/corona_recovered_ver_00143.csv')
daily_recovered = pd.read_csv('D:/MAXCORlabwork/covid/most_current_csvs/recovered_daily.csv')

In [23]:
daily_recovered = daily_recovered.rename(columns = {'?????':'date', '???? ??????? ????':"recovered"})

In [24]:
daily_recovered.to_csv('try1_daily_recovered.csv')

In [25]:
daily_recovered[daily_recovered.recovered >= 4684 ].head(27)

           date  recovered
162  23-07-2020     6756.0
228  27-09-2020     5719.0
230  29-09-2020     5830.0
231  30-09-2020     5244.0
232  01-10-2020     5785.0
233  02-10-2020     5610.0
235  04-10-2020     8143.0
236  05-10-2020     6987.0
237  06-10-2020     6471.0
238  07-10-2020     4920.0
239  08-10-2020     4828.0
240  09-10-2020     5131.0
242  11-10-2020     7602.0
243  12-10-2020     5546.0
244  13-10-2020     5763.0
245  14-10-2020     5869.0
246  15-10-2020     5447.0
249  18-10-2020     4947.0
326  03-01-2021     5596.0
329  06-01-2021     4819.0
330  07-01-2021     5890.0
331  08-01-2021     4873.0
333  10-01-2021     8413.0
334  11-01-2021     4882.0
336  13-01-2021     8069.0
337  14-01-2021     9269.0
338  15-01-2021     8064.0

In [26]:
daily_recovered.recovered.sum()

833208.0

## Unfortunately, we have no confirmation that the MOH recovery spreadsheet with age data was updated sequentially
### If we assume it was the above code helps us look at the recoveries  by age and data