# Symptoms over time

In [1]:

import pandas as pd
import numpy as np

In [2]:
tested_complete = pd.read_csv('base_MOH_data/corona_tested_individuals_ver_00158.csv')

D:\bin\anaconda3\envs\jupyter_environment\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
tested_complete.head(5)

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2021-07-04,0,1,0,0,1,חיובי,NaN,נקבה,Contact with confirmed
1,2021-07-04,0,0,0,0,0,שלילי,NaN,נקבה,Other
2,2021-07-04,0,0,0,0,0,שלילי,NaN,זכר,Other
3,2021-07-04,0,0,0,0,0,אחר,NaN,נקבה,Other
4,2021-07-04,0,0,0,0,0,אחר,NaN,NaN,Other

In [4]:
coughers = tested_complete[tested_complete.cough == 1 ]
sobers = tested_complete[tested_complete.shortness_of_breath == 1 ]
sobers[sobers.corona_result == "חיובי"]

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
265,2021-07-04,1,1,0,1,1,חיובי,NaN,נקבה,Other
273,2021-07-04,0,0,0,1,0,חיובי,NaN,זכר,Other
323,2021-07-04,0,0,0,1,0,חיובי,NaN,זכר,Other
12481,2021-07-03,1,0,0,1,0,חיובי,NaN,NaN,Other
12568,2021-07-03,1,1,0,1,0,חיובי,NaN,NaN,Contact with confirmed
...,...,...,...,...,...,...,...,...,...,...
6003265,2020-03-12,0,1,1,1,0,חיובי,NaN,זכר,Abroad
6003275,2020-03-12,0,0,0,1,0,חיובי,NaN,זכר,Abroad
6003302,2020-03-12,0,1,0,1,0,חיובי,NaN,NaN,Contact with confirmed
6003316,2020-03-12,1,0,0,1,0,חיובי,NaN,נקבה,Contact with confirmed
6003324,2020-03-12,1,0,0,1,0,חיובי,NaN,נקבה,Contact with confirmed

## So shortness of breath can be the only presenting symptom in some cases, but we see in many cases people have multiple symptoms.
We might want to look at single symptom presenters over time, and see how they envolve. First let's look at all our positives

In [5]:
positive_tested = tested_complete[tested_complete.corona_result == 'חיובי']
#positive_tested['cough_to_fever_ratio'] = positive_tested.cough/positive_tested.fever

In [6]:
grouped_pos = positive_tested.groupby('test_date').sum()
grouped_pos.to_csv('grouped_pos_plus.csv')

In [7]:
grouped_pos

            cough  fever  sore_throat  shortness_of_breath  head_ache
test_date
2020-03-11     12     14           13                    0          6
2020-03-12     15     12            6                    7          3
2020-03-13     15     11            5                    3          4
2020-03-14     21     16            6                    4          8
2020-03-15     31     22           13                   10          9
...           ...    ...          ...                  ...        ...
2021-06-30     19     17            5                    1         15
2021-07-01      9      6            7                    0          4
2021-07-02     12     12            3                    0         15
2021-07-03     11     10            0                    3          3
2021-07-04     25     30           15                    3         33

[478 rows x 5 columns]